python-dotenv
openai
requests
beautifulsoup4
streamlit
flask
langchain
langchain-community
langchain-core
langchain-ollama
langchain-xai
langchain-openai
langchain-huggingface
faiss-cpu
huggingface-hub
pypdf
tiktoken
transformers
sentence-transformers
ollama
python-telegram-bot
feedparser
xai-sdk
Flask-Session



python-dotenv
openai
requests
beautifulsoup4
streamlit
flask
langchain
langchain-community
langchain-core
langchain-ollama
langchain-xai
langchain-openai
langchain-huggingface
faiss-cpu
huggingface-hub
pypdf
tiktoken
transformers
sentence-transformers
ollama
python-telegram-bot
feedparser
xai-sdk
Flask-Session


